// 时间戳转化日期格式 yy-mm-dd hh:mm:ss
function newFormatTime(timestamp) {
  var date = getDate(timestamp); //时间戳为10位需*1000
  var Y = date.getFullYear() + '-';
  var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
  var D = date.getDate() + ' ';
  var h = date.getHours() + ':';
  var m = date.getMinutes() + ':';
  var s = date.getSeconds();
  return Y + M + D + h + m + s;
}

function getDateYearDiff(startDateMills, endDateMills) {
  return getDate(endDateMills).getFullYear() - getDate(startDateMills).getFullYear()
}

function slice(array, start, end) {
  return array.slice(start, end)
}


function isNullOrEmpty(content) {
  if (content == undefined || content == null) {
    return true
  }

  if ((typeof content == 'string') &&
    content.constructor == "String" &&
    content.trim().length == 0) {
    return true
  }

  return false
}

var parseDistance = function (distance) {
  if (distance == undefined) return '0米'
  distance = Number(distance)
  var reg = getRegExp('\d+\.(\d*)')
  if (distance < 1000) return distance + '米'
  if (distance < 1000 * 10000) {
    var d = distance / 1000
    var l = d.toString().replace(reg, "$1").length
    return (l > 2 ? d.toFixed(2) : d) + '千米'
  }
  var d = distance / 1000 / 10000
  var l = d.toString().replace(reg, "$1").length
  return (l > 2 ? d.toFixed(2) : d) + '万千米'
}

module.exports = {
  newFormatTime: newFormatTime,
  getDateYearDiff: getDateYearDiff,
  slice: slice,
  isNullOrEmpty: isNullOrEmpty,
  parseDistance: parseDistance
}